#ignore wav files
*.wav
*.w64

#ignore object files
*.obj
*.o

#ignore some visual studio files
*.pch
ipch/
*.sbr
*.sdf
*.res
*.ilk
*.lastbuildstate
*.manifest
*.pdb
*.log
*.tlog
*.idb
*.ncb
*.aps
*.opendb
*.opensdf
*.cachefile

WinDebug
WinRel
x64
oifiilib/Debug
oifiilib/Release
oifiilib/x64
ow_iff/Debug
ow_iff/Release
ow_iff/x64
ow_ipl/Debug
ow_ipl/Release
ow_ipl/x64

*.tif
*.jpg

*.db
*.bin

FileContentIndex/
v15/
v18/
.vs/